.projectContainer {
  padding: 1rem;
  width: min-content;
  border: 1px solid red;
}

.projectContainer h2 {
  font-size: 30px;
  font-weight: 900;
  padding: 0rem;
  margin: 0rem;
}

.content {
  padding: 0rem 1rem 0rem 1rem;
}

.content img {
  border: 1px solid red;
}

.title {
  padding: 0rem 1rem 0rem 1rem;
}

.content p {
  border: 1px solid red;
  padding: 0;
  margin-top: 0.5rem;
  font-size: 20px;
  font-weight: 500;
}

