.nav {
    padding: 2rem 4rem;
}

.navList {
    list-style: none;
    padding: 0;
    margin: 0;
    display: flex;
    justify-content: left;
}

.navItem {
    margin: 0 3rem;
}

.navLink {
    color: inherit;
    font-size: large;
    font-weight: 400;
    text-decoration: none;
    transition: font-weight 0.3s ease-in-out; /* Add the transition property */
}

.navLink:hover {
    letter-spacing: 0.1rem;
    font-weight: 800;
}

.active {
    letter-spacing: 0.1rem;
    font-weight: 800;
}