.projectContainer {
  padding: 1rem;
  border: 1px solid red; 
}

.projectContainer h2 {
  font-size: 40px;
  font-weight: 900;
  padding: 0rem;
  margin: 0rem;
}

.content {
  display: flex;
  padding: 0rem 1rem 0rem 1rem;
}

.content img {
  padding-right: 1rem;
}

.title {
  padding: 0rem 1rem 0rem 1rem;
}

.content p {
  padding: 0rem 1rem 0rem 1.5rem;
  font-size: 20px;
  font-weight: 600;
}

.skills p{
  margin: 0rem;
}