@font-face {
    font-family: 'Alientz';
    src: url('alientz_serif.otf') format('opentype');
    font-weight: normal;
    font-style: normal;
}

* {
    background-color: #e7daff;
    color: #183EAF;

}

p,
li {
    font: 1em sans-serif;
}

header {
    position: fixed;
    width: 100%;
    text-align: center;
    top: 2rem;
}

body {
    padding-top: 50px;
    /* Adjust this value based on the height of your header */
}

div {
    border: 2px #183EAF;
    padding: 10px;
}

#page-container {
    margin: 30px;
    font: sans-serif;

}

.portrait-img {
    box-shadow: 2px 2px 4px rgba(0, 0, 0, 0.2);
}

section {
    width: 100vw; /* Full viewport width */
    height: 100vh; /* Full viewport height */
    display: flex; /* Flexbox for alignment */
    justify-content: center;
    align-items: center;
    background-color: #f0f0f0; /* Optional background */
}

#about-content {
    display: flex;
    flex-direction: row;
    justify-content: center;
    margin-left: 10rem;
    margin-right: 14rem;
}

.icon {
    width: 3rem;
    border-radius: 50%;
    box-shadow: 2px 2px 4px rgba(0, 0, 0, 0.2);
    margin: 0.5rem;
}

#icon-container {
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
}


/* Stacked on mobile */
@media (max-width: 768px) {

    div {
        margin: 0;
        padding: 0%;
    }

    #icon-container {
        display: flex;
        flex-direction: row;
        justify-content: flex-end;
    }

}

.container {
    display: flex;
    flex-direction: row;
    justify-content: left;
    display: flex;
    flex-wrap: wrap;
    margin-left: 10rem;
    margin-right: 14rem;
}



#first-name {
    font-family: "Bodoni MT", Didot, "Didot LT STD", "Hoefler Text", Garamond, "Times New Roman", serif;
    font-size: 70px;
    font-style: normal;
    font-variant: small-caps;
    font-weight: 700;
    line-height: 20px;
    margin-bottom: 1px;
}

#last-name {
    font-family: 'Alientz';
    font-size: 50px;
    margin-top: 1px;
    margin-left: 20px;
}

.rectangle {
    height: 0.5rem;
    width: 90%;
    background-color: #183EAF;
    margin: 0;
    padding: 0;
}