.projectsPage {
  margin: 0 15rem 0 10rem;
}


.next {
  transition: all 0.25s ease-in-out;
  right: 0;
  border-radius: 25px;
  outline: 0;
  position: absolute;
  z-index: 2;
  cursor: pointer;
  top: 0;
  bottom: 0;
  margin-top: 0;
  padding: 5px;
  background-color: #e2e0f2;
  border: 0 solid transparent;
}

.next:hover {
  background-color: #dcd9f0;
}