.bioSection {
  display: flex;
  justify-content: space-around; 
  align-items: stretch; 
  padding: 0.5rem; /* Adjust padding as needed */
  max-width: 1200px; /* Optional: Limit the width of the section */
  margin: 4rem 23rem 0 15rem;

}

.column {
  text-align: left; /* Default text alignment for columns */
  padding: 0.5rem;
  position: relative;
}

.column:first-child p {
  line-height: 1.6;
  padding: 0;
  margin-top: 0;
  margin-right: 1rem;
  font-size: 19px;
}

/* Second Column Styles */
.headshot {
  height: 400px; /* Increased width */
  width: auto; /* Increased height */
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

/* Third Column Styles */
.socialLinks {
  list-style: none;
  padding: 0.1rem;
  margin: 0.1rem;
  display: flex;
  flex-direction: column; /* Arrange icons vertically */
  position: absolute;
  bottom: 10px;
}

.socialLinks li {
  margin-bottom: rem;
  padding: 0.1rem 0; /* Add some padding to see list item extent */
  
}

.socialLinks li:last-child {
  margin-bottom: 0;
}

.socialLinks a {
  display: block; /* Make the entire link clickable */
  padding: 0rem; /* Add some padding to see link extent */
}

.socialLinks img {
  width: 60px; /* Adjust icon size */
  height: auto;
  border-radius: 50%;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}
