body {
  background-color: #e2e0f2;
  color: #2f22ab;
  font-family: 'Jost', sans-serif;
  font-optical-sizing: auto;
  font-weight: 100;
  font-style: normal;
}

.content {
  margin: 4rem 20rem 0 20rem;
}
